<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fzm.mall.mapper.AirdropInfoMapper">
    <insert id="insert" useGeneratedKeys="true" keyColumn="info_id" keyProperty="infoId">
        insert into airdrop_info(address, `name`, `status`, task_status, tx_hash, tx_note, start_time, create_time)
        VALUES (#{address}, #{name}, #{status}, #{taskStatus}, #{txHash}, #{txNote}, #{startTime}, #{createTime})
    </insert>

    <update id="updateByInfoId">
        update airdrop_info
        <set>
            <if test="name != null">
                `name` = #{name},
            </if>
            <if test="status != null">
                `status` = #{status},
            </if>
            <if test="taskStatus != null">
                `task_status` = #{taskStatus},
            </if>
            <if test="txHash != null">
                `tx_hash` = #{txHash},
            </if>
            <if test="txNote != null">
                `tx_note` = #{txNote},
            </if>
            <if test="startTime != null">
                `start_time` = #{startTime},
            </if>
        </set>
        where info_id = #{infoId}
        <if test="originalStatus != null">
            and `status` = #{originalStatus}
        </if>
        <if test="originalTaskStatus != null">
            and task_status = #{originalTaskStatus}
        </if>
    </update>

    <delete id="deleteByInfoId">
        delete
        from airdrop_info
        where info_id = #{infoId}
    </delete>


    <select id="getByInfoId" resultType="com.fzm.mall.entity.dataobject.AirdropInfoDO">
        select *
        from airdrop_info
        where info_id = #{infoId}
    </select>

    <select id="listByStatus" resultType="com.fzm.mall.entity.dataobject.AirdropInfoDO">
        select *
        from airdrop_info
        where `status` = #{status}
          and task_status = #{taskStatus}
          and #{nowDateTime} >= start_time
        limit 50
    </select>

    <select id="listByPageQO" resultType="com.fzm.mall.entity.dataobject.AirdropInfoDO">
        select *
        from airdrop_info
        <where>
            <if test="address != null and address != ''">
                and address = #{address}
            </if>
            <if test="status != null and status != -1">
                and `status` = #{status}
            </if>
            <if test="taskStatus != null and taskStatus != -1">
                and task_status = #{taskStatus}
            </if>
            <if test="vague != null and vague != ''">
                and (
                info_id = #{vague}
                or address = #{vague}
                or tx_hash = #{vague}
                or `name` like CONCAT('%', #{vague}, '%')
                )
            </if>
        </where>
        order by info_id desc
    </select>

</mapper>