<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fzm.mall.mapper.OrderBlindBoxMapper">
    <insert id="insert">
        insert into order_blind_box(order_id,
                                    seller_address,
                                    buyer_address,
                                    goods_id,
                                    sku_id,
                                    ct_id,
                                    token_id,
                                    tx_hash,
                                    reward_sku_id,
                                    reward_token_id,
                                    reward_tx_hash,
                                    reward_tx_note,
                                    reward_tx_status,
                                    order_time)
        VALUES (#{orderId},
                #{sellerAddress},
                #{buyerAddress},
                #{goodsId},
                #{skuId},
                #{ctId},
                #{tokenId},
                #{txHash},
                #{rewardSkuId},
                #{rewardTokenId},
                #{rewardTxHash},
                #{rewardTxNote},
                #{rewardTxStatus},
                #{orderTime})
    </insert>

    <update id="updateByOrderId">
        update order_blind_box
        <set>
            <if test="rewardTxHash != null">
                reward_tx_hash = #{rewardTxHash},
            </if>
            <if test="rewardTxNote != null">
                reward_tx_note = #{rewardTxNote},
            </if>
            <if test="rewardTxStatus != null">
                reward_tx_status = #{rewardTxStatus},
            </if>
        </set>
        <where>
            <if test="orderId != null">
                and order_id = #{orderId}
            </if>
            <if test="orderIds != null">
                and order_id in
                <foreach collection="orderIds" separator="," open="(" item="orderId" close=")">
                    #{orderId}
                </foreach>
            </if>
            <if test="originalTxStatus != null">
                and reward_tx_status = #{originalTxStatus}
            </if>
        </where>
    </update>

    <select id="getByTxHash" resultType="com.fzm.mall.entity.dataobject.OrderBlindBoxDO">
        select *
        from order_blind_box
        where tx_hash = #{txHash}
    </select>

    <select id="listByTxStatus" resultType="com.fzm.mall.entity.dataobject.OrderBlindBoxDO">
        select *
        from order_blind_box
        where reward_tx_status = #{txStatus}
        limit 50
    </select>

</mapper>