<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fzm.mall.mapper.SysFileMapper">

    <insert id="insert">
        insert into sys_file(file_url, create_time)
        VALUES (#{fileUrl}, #{createTime})
    </insert>

    <select id="getByFileUrl" resultType="java.lang.String">
        select file_url
        from sys_file
        where file_url = #{fileUrl}
    </select>
</mapper>